<div class="container-xxl bg-white p-0">
    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a [routerLink]="[ '/mainAdmin']" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="../../../assets/img/icon-deal.png" alt="Icon"
                        style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">RentMyRide</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a [routerLink]="[ '/mainRentas']" class="nav-item nav-link">Rentas</a>
                    <a [routerLink]="[ '/mainVehiculos']" class="nav-item nav-link">Vehiculos</a>
                    <a [routerLink]="[ '/mainClientes']" class="nav-item nav-link">Clientes</a>
                    <a [routerLink]="[ '/mainEmpleados']" class="nav-item nav-link">Empleados</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->





    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Rentas Activas</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Placas Vehiculo</th>
                            <th>RFC Cliente</th>
                            <th>Estatus</th>
                            <th>Fecha de Inicio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of rfcClientesActivas; let i = index">
                            <td>{{placasActivas[i]}}</td>
                            <td>{{rfcClientesActivas[i]}}</td>
                            <td>{{statusActivas[i]}}</td>
                            <td>{{fechasInicioActivas[i]}}</td>
                            <td><button type="button" class="btn btn-danger" (click)="modalTerminarRenta(idActiva[i], [i])"><span
                                        class="glyphicon glyphicon-trash">Terminar Renta</span></button></td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Rentas Concluidas</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Placas Vehiculo</th>
                            <th>RFC Cliente</th>
                            <th>Estatus</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Termino</th>
                            <th>Precio</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of rfcClientesConcluidas; let i = index">
                            <td>{{placasConcluidas[i]}}</td>
                            <td>{{rfcClientesConcluidas[i]}}</td>
                            <td>{{statusConcluidas[i]}}</td>
                            <td>{{fechasInicioConcluidas[i]}}</td>
                            <td>{{fechasFinConcluidas[i]}}</td>
                            <!-- <td>{{precioConcluidas[i]}}</td> -->
                            <td>{{detallesConcluidas[i]}}</td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>



    <!-- Modal Terminar Renta -->
    <ng-template #myModalInfo let-modal class="modalAdd">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">Terminar</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <div>
                            Fecha y Hora Termino de Renta
                            <input type="datetime-local" [(ngModel)]="datosRentaFin.fechaHoraFinRenta"
                                name="fechaHora">
                        </div>
                    </div>
                    <div>
                        Nivel de Gasolina
                        <select class="form-select" aria-label="Gasolina Vehiculo" name="gasolinaVehiculo"
                            id="gasolinaVehiculo" [(ngModel)]="datosRentaFin.gasolinaFinRenta" required>
                            <option value="1/4">1/4</option>
                            <option value="1/2">1/2</option>
                            <option value="3/4">3/4</option>
                            <option value="LLeno">Lleno</option>
                        </select>
                    </div>
                    <div>
                        Detalles
                        <input type="text" class="form-control" placeholder="Detalles Vehiculo"
                            aria-label="Detalle Vehiculo" aria-describedby="addon-wrapping" name="detallesVehiculo"
                            id="detallesVehiculo" [(ngModel)]="datosRentaFin.detallesVehiculo">
                    </div>
                    <div class=" clase">
                        <!-- Submit Button -->
                        <!-- <button type="submit" class="btn guardar" (click)="actualizarVehiculo(datosVehiculoPut.id)">Actualizar</button> -->
                        <button type="button" class="btn btn-warning" (click)="terminarRenta()">Terminar</button>

                    </div>
                </form>
            </div>
        </div>
    </ng-template>







    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom">Rent My Ride</a>, Todos los derechos reservados.
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Creado por <a class="border-bottom">ISC</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/lib/wow/wow.min.js"></script>
<script src="../../../assets/lib/easing/easing.min.js"></script>
<script src="../../../assets/lib/waypoints/waypoints.min.js"></script>
<script src="../../../assets/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="../../../scripts/main.js"></script>