<div class="container-xxl bg-white p-0">
    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a [routerLink]="[ '/mainAdmin']" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="../../../assets/img/icon-deal.png" alt="Icon"
                        style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">RentMyRide</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a [routerLink]="[ '/mainRentas']" class="nav-item nav-link">Rentas</a>
                    <a [routerLink]="[ '/mainVehiculos']" class="nav-item nav-link">Vehiculos</a>
                    <a [routerLink]="[ '/mainClientes']" class="nav-item nav-link">Clientes</a>
                    <a [routerLink]="[ '/mainEmpleados']" class="nav-item nav-link">Empleados</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->





    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Tipos de Auto</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded p-3">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img [routerLink]="[ '/mainCompactos']" class="img-fluid"
                                    src="../../../assets/img/compacto.png" alt="Icon">
                            </div>
                            <h6>Compactos</h6>
                            <span>{{cantidadCompacto}} unidades</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item d-block bg-light text-center rounded p-3">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="../../../assets/img/sedan.jpg" alt="Icon"
                                    [routerLink]="[ '/mainSedan']">
                            </div>
                            <h6>Sedán</h6>
                            <span>{{cantidadSedan}} unidades</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="../../../assets/img/suv.png" alt="Icon" [routerLink]="[ '/mainSUV']">
                            </div>
                            <h6>SUV</h6>
                            <span>{{cantidadSUV}} unidades</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded p-3">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="../../../assets/img/camioneta.png" alt="Icon" [routerLink]="[ '/mainCamionetas']">
                            </div>
                            <h6>Camionetas</h6>
                            <span>{{cantidadCamionetas}} unidades</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded p-3">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="../../../assets/img/van.png" alt="Icon" [routerLink]="[ '/mainVan']">
                            </div>
                            <h6>Van</h6>
                            <span>{{cantidadVan}} unidades</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item d-block bg-light text-center rounded p-3">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="../../../assets/img/lujo.png" alt="Icon" [routerLink]="[ '/mainLujo']">
                            </div>
                            <h6>Lujo</h6>
                            <span>{{cantidadLujo}} unidades</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="../../../assets/img/deportivo.png" alt="Icon" [routerLink]="[ '/mainDeportivos']">
                            </div>
                            <h6>Deportivos</h6>
                            <span>{{cantidadDeportivos}} unidades</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded p-3">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="../../../assets/img/clasico.png" alt="Icon" [routerLink]="[ '/mainClasicos']">
                            </div>
                            <h6>Clásicos</h6>
                            <span>{{cantidadClasicos}} unidades</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Category End -->

















    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom">Rent My Ride</a>, Todos los derechos reservados.
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Creado por <a class="border-bottom">ISC</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/lib/wow/wow.min.js"></script>
<script src="../../../assets/lib/easing/easing.min.js"></script>
<script src="../../../assets/lib/waypoints/waypoints.min.js"></script>
<script src="../../../assets/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="../../../scripts/main.js"></script>