<script>
    $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
            if (this.checked) {
                checkbox.each(function () {
                    this.checked = true;
                });
            } else {
                checkbox.each(function () {
                    this.checked = false;
                });
            }
        });
        checkbox.click(function () {
            if (!this.checked) {
                $("#selectAll").prop("checked", false);
            }
        });
    });
</script>

<div class="container-xxl bg-white p-0">
    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a [routerLink]="[ '/mainAdmin']" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="../../../assets/img/icon-deal.png" alt="Icon"
                        style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">RentMyRide</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a [routerLink]="[ '/mainRentas']" class="nav-item nav-link">Rentas</a>
                    <a [routerLink]="[ '/mainVehiculos']" class="nav-item nav-link">Vehiculos</a>
                    <a [routerLink]="[ '/mainClientes']" class="nav-item nav-link">Clientes</a>
                    <a [routerLink]="[ '/mainEmpleados']" class="nav-item nav-link">Empleados</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Vehiculos</h2>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-warning" (click)="modalVehiculo()"><span
                                    class="glyphicon glyphicon-refresh">Registrar Nuevo Vehiculo</span></button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Tipo</th>
                            <th>Color</th>
                            <th>Transmision</th>
                            <th>Status</th>
                            <th>Precio</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of datosVehiculo; let i = index">
                            <td>{{item.marcaVehiculo}}</td>
                            <td>{{item.modeloVehiculo}}</td>
                            <td>{{item.anioVehiculo}}</td>
                            <td>{{item.tipoVehiculo}}</td>
                            <td>{{item.colorVehiculo}}</td>
                            <td>{{item.transmisionVehiculo}}</td>
                            <td>{{item.statusVehiculo}}</td>
                            <td>{{item.precioPorDiaVehiculo}}</td>
                            <td>{{item.detallesVehiculo}}</td>
                            <td><button type="button" class="btn btn-danger" (click)="eliminarVehiculo(item._id)"><span
                                        class="glyphicon glyphicon-trash">Eliminar</span></button></td>
                            <td><button type="button" class="btn btn-warning"
                                    (click)="modalActualizarVehiculo(item)"><span
                                        class="glyphicon glyphicon-refresh">Actualizar</span></button></td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- Modal Agregar Vehiculo -->
    <ng-template #myModalInfo let-modal class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">Registrar</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control" placeholder="Numero de Serie Vehiculo"
                            aria-label="Numero de Serie Vehiculo" aria-describedby="addon-wrapping"
                            name="noSerieVehiculo" id="noSerieVehiculo" required="required"
                            [(ngModel)]="datosVehiculoAdd.noSerieVehiculo">
                    </div>
                    <div>
                        Marca
                        <select class="form-select" id="marcaVehiculo" name="marcaVehiculo" [(ngModel)]="vehiculo.marca"
                            (change)="cargarModelos()">
                            <option value="">Seleccione una marca</option>
                            <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
                        </select>
                    </div>
                    <div>
                        Modelo
                        <select class="form-select" id="modeloVehiculo" name="modeloVehiculo"
                            [(ngModel)]="vehiculo.modelo">
                            <option value="">Seleccione una marca primero</option>
                            <option *ngFor="let modelo of modelosPorMarca[vehiculo.marca]" [value]="modelo">{{ modelo }}
                            </option>
                        </select>
                    </div>
                    <div>
                        Tipo
                        <select class="form-select" aria-label="Tipo Vehiculo" name="tipoVehiculo" id="tipoVehiculo"
                            [(ngModel)]="datosVehiculoAdd.tipoVehiculo" required>
                            <option value="Compacto">Compacto</option>
                            <option value="Sedan">Sedan</option>
                            <option value="SUV">SUV</option>
                            <option value="Camioneta">Camioneta</option>
                            <option value="Van">Van</option>
                            <option value="Lujo">Lujo</option>
                            <option value="Deportivo">Deportivo</option>
                            <option value="Clasico">Clasico</option>
                        </select>
                    </div>
                    <div>
                        Año
                        <input type="number" class="form-control" placeholder="Año Vehiculo" aria-label="Anio Vehiculo"
                            aria-describedby="addon-wrapping" name="anioVehiculo" id="anioVehiculo" required="required"
                            [(ngModel)]="datosVehiculoAdd.anioVehiculo">
                    </div>
                    <div>
                        Transmisión
                        <select class="form-select" aria-label="Transmisión Vehiculo" name="transmisionVehiculo"
                            id="transmisionVehiculo" [(ngModel)]="datosVehiculoAdd.transmisionVehiculo" required>
                            <option value="Manual">Manual</option>
                            <option value="Automatica">Automatica</option>
                        </select>
                    </div>
                    <div>
                        Color
                        <input type="text" class="form-control" placeholder="Color Vehiculo" aria-label="Color Vehiculo"
                            aria-describedby="addon-wrapping" name="colorVehiculo" id="colorVehiculo"
                            required="required" [(ngModel)]="datosVehiculoAdd.colorVehiculo">
                    </div>
                    <div>
                        Placas
                        <input type="text" class="form-control" placeholder="Placas Vehiculo"
                            aria-label="Placas Vehiculo" aria-describedby="addon-wrapping" name="placasVehiculo"
                            id="placasVehiculo" required="required" [(ngModel)]="datosVehiculoAdd.placasVehiculo">
                    </div>
                    <div>
                        Kilometraje
                        <input type="number" class="form-control" placeholder="KilometrajeVehiculo"
                            aria-label="Kilometraje Vehiculo" aria-describedby="addon-wrapping"
                            name="kilometrajeVehiculo" id="kilometrajeVehiculo" required="required"
                            [(ngModel)]="datosVehiculoAdd.kilometrajeVehiculo">
                    </div>
                    <div>
                        Detalles
                        <input type="text" class="form-control" placeholder="Detalles Vehiculo"
                            aria-label="Detalle Vehiculo" aria-describedby="addon-wrapping" name="detallesVehiculo"
                            id="detallesVehiculo" [(ngModel)]="datosVehiculoAdd.detallesVehiculo">
                    </div>
                    <div>
                        Poliza de Seguro
                        <input type="text" class="form-control" placeholder="Poliza de Seguro Vehiculo"
                            aria-label="Poliza Vehiculo" aria-describedby="addon-wrapping" name="polizaVehiculo"
                            id="polizaVehiculo" required="required" [(ngModel)]="datosVehiculoAdd.polizaSeguroVehiculo">
                    </div>
                    <div>
                        Ultimo Servicio
                        <input type="date" class="form-control" placeholder="Placas Vehiculo"
                            aria-label="Ultimo Servicio Vehiculo" aria-describedby="addon-wrapping"
                            name="servicioVehiculo" id="ultimoServicioVehiculo" required="required"
                            [(ngModel)]="datosVehiculoAdd.ultimoServicioVehiculo">
                    </div>
                    <div>
                        Nivel de Gasolina
                        <select class="form-select" aria-label="Gasolina Vehiculo" name="gasolinaVehiculo"
                            id="gasolinaVehiculo" [(ngModel)]="datosVehiculoAdd.gasolinaVehiculo" required>
                            <option value="1/4">1/4</option>
                            <option value="1/2">1/2</option>
                            <option value="3/4">3/4</option>
                            <option value="LLeno">Lleno</option>
                        </select>
                    </div>
                    <div>
                        Precio Por Día
                        <input type="number" class="form-control" placeholder="Precio Vehiculo"
                            aria-label="Precio Vehiculo" aria-describedby="addon-wrapping" name="precioPorDiaVehiculo"
                            id="precioPorDiaVehiculo" required="required"
                            [(ngModel)]="datosVehiculoAdd.precioPorDiaVehiculo">
                    </div>
                    <!-- <div>
                        Foto
                        <input (change)="capturarFoto($event)" type="file" class="form-control">
                    </div>
                    <div>
                        <img width="100px" [src]="preview" alt="">
                    </div> -->
                    <div class="clase">
                        <!-- Submit Button -->
                        <!-- <button type="submit" class="btn guardar" (click)="actualizarVehiculo(datosVehiculoAdd.id)">Actualizar</button> -->
                        <button type="button" class="btn btn-warning" (click)="agregarVehiculo()">Agregar</button>

                    </div>
                </form>
            </div>
        </div>
    </ng-template>


    <!-- Modal Modificar Vehiculo -->
    <ng-template #myModalInfo2 let-modal class="modalAdd">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">Actualizar</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control" placeholder="Numero de Serie Vehiculo"
                            aria-label="Numero de Serie Vehiculo" aria-describedby="addon-wrapping"
                            name="noSerieVehiculo" id="noSerieVehiculo" required="required"
                            [(ngModel)]="datosVehiculoPut.noSerieVehiculo">
                    </div>
                    <div>
                        Marca
                        <select class="form-select" id="marcaVehiculo" name="marcaVehiculo" [(ngModel)]="vehiculo.marca"
                            (change)="cargarModelos()">
                            <option value="">Seleccione una marca</option>
                            <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
                        </select>
                    </div>
                    <div>
                        Modelo
                        <select class="form-select" id="modeloVehiculo" name="modeloVehiculo"
                            [(ngModel)]="vehiculo.modelo">
                            <option value="">Seleccione una marca primero</option>
                            <option *ngFor="let modelo of modelosPorMarca[vehiculo.marca]" [value]="modelo">{{ modelo }}
                            </option>
                        </select>
                    </div>
                    <div>
                        Tipo
                        <select class="form-select" aria-label="Tipo Vehiculo" name="tipoVehiculo" id="tipoVehiculo"
                            [(ngModel)]="datosVehiculoPut.tipoVehiculo" required>
                            <option value="Compacto">Compacto</option>
                            <option value="Sedan">Sedan</option>
                            <option value="SUV">SUV</option>
                            <option value="Camioneta">Camioneta</option>
                            <option value="Van">Van</option>
                            <option value="Lujo">Lujo</option>
                            <option value="Deportivo">Deportivo</option>
                            <option value="Clasico">Clasico</option>
                        </select>
                    </div>
                    <div>
                        Año
                        <input type="number" class="form-control" placeholder="Año Vehiculo" aria-label="Anio Vehiculo"
                            aria-describedby="addon-wrapping" name="anioVehiculo" id="anioVehiculo" required="required"
                            [(ngModel)]="datosVehiculoPut.anioVehiculo">
                    </div>
                    <div>
                        Transmisión
                        <select class="form-select" aria-label="Transmisión Vehiculo" name="transmisionVehiculo"
                            id="transmisionVehiculo" [(ngModel)]="datosVehiculoPut.transmisionVehiculo" required>
                            <option value="Manual">Manual</option>
                            <option value="Automatica">Automatica</option>
                        </select>
                    </div>
                    <div>
                        Color
                        <input type="text" class="form-control" placeholder="Color Vehiculo" aria-label="Color Vehiculo"
                            aria-describedby="addon-wrapping" name="colorVehiculo" id="colorVehiculo"
                            required="required" [(ngModel)]="datosVehiculoPut.colorVehiculo">
                    </div>
                    <div>
                        Placas
                        <input type="text" class="form-control" placeholder="Placas Vehiculo"
                            aria-label="Placas Vehiculo" aria-describedby="addon-wrapping" name="placasVehiculo"
                            id="placasVehiculo" required="required" [(ngModel)]="datosVehiculoPut.placasVehiculo">
                    </div>
                    <div>
                        Kilometraje
                        <input type="number" class="form-control" placeholder="Kilometraje Vehiculo"
                            aria-label="Kilometraje Vehiculo" aria-describedby="addon-wrapping"
                            name="kilometrajeVehiculo" id="kilometrajeVehiculo" required="required"
                            [(ngModel)]="datosVehiculoPut.kilometrajeVehiculo">
                    </div>
                    <div>
                        Detalles
                        <input type="text" class="form-control" placeholder="Detalles Vehiculo"
                            aria-label="Detalle Vehiculo" aria-describedby="addon-wrapping" name="detallesVehiculo"
                            id="detallesVehiculo" [(ngModel)]="datosVehiculoPut.detallesVehiculo">
                    </div>
                    <div>
                        Poliza de Seguro
                        <input type="text" class="form-control" placeholder="Poliza de Seguro Vehiculo"
                            aria-label="Poliza Vehiculo" aria-describedby="addon-wrapping" name="polizaVehiculo"
                            id="polizaVehiculo" required="required" [(ngModel)]="datosVehiculoPut.polizaSeguroVehiculo">
                    </div>
                    <div>
                        Estatus
                        <select class="form-select" aria-label="Estatus Vehiculo" name="statusVehiculo"
                            id="transmisionVehiculo" [(ngModel)]="datosVehiculoPut.statusVehiculo" required>
                            <option value="Disponible">Disponible</option>
                            <option value="Mantenimiento">Mantenimiento</option>
                            <option value="Baja">Baja</option>
                        </select>
                    </div>
                    <div>
                        Ultimo Servicio
                        <input type="date" class="form-control" placeholder="Placas Vehiculo"
                            aria-label="Ultimo Servicio Vehiculo" aria-describedby="addon-wrapping"
                            name="servicioVehiculo" id="ultimoServicioVehiculo" required="required"
                            [(ngModel)]="datosVehiculoPut.ultimoServicioVehiculo">
                    </div>
                    <div>
                        Nivel de Gasolina
                        <select class="form-select" aria-label="Gasolina Vehiculo" name="gasolinaVehiculo"
                            id="gasolinaVehiculo" [(ngModel)]="datosVehiculoPut.gasolinaVehiculo" required>
                            <option value="1/4">1/4</option>
                            <option value="1/2">1/2</option>
                            <option value="3/4">3/4</option>
                            <option value="LLeno">Lleno</option>
                        </select>
                    </div>
                    <div>
                        Precio Por Día
                        <input type="number" class="form-control" placeholder="Precio Vehiculo"
                            aria-label="Precio Vehiculo" aria-describedby="addon-wrapping" name="precioPorDiaVehiculo"
                            id="precioPorDiaVehiculo" required="required"
                            [(ngModel)]="datosVehiculoPut.precioPorDiaVehiculo">
                    </div>
                    <div class=" clase">
                        <!-- Submit Button -->
                        <!-- <button type="submit" class="btn guardar" (click)="actualizarVehiculo(datosVehiculoPut.id)">Actualizar</button> -->
                        <button type="button" class="btn btn-warning"
                            (click)="actualizarVehiculo(datosVehiculoPut.id)">Actualizar</button>

                    </div>
                </form>
            </div>
        </div>
    </ng-template>











    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom">Rent My Ride</a>, Todos los derechos reservados.
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Creado por <a class="border-bottom">ISC</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/lib/wow/wow.min.js"></script>
<script src="../../../assets/lib/easing/easing.min.js"></script>
<script src="../../../assets/lib/waypoints/waypoints.min.js"></script>
<script src="../../../assets/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="../../../scripts/main.js"></script>