<script>
    $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
            if (this.checked) {
                checkbox.each(function () {
                    this.checked = true;
                });
            } else {
                checkbox.each(function () {
                    this.checked = false;
                });
            }
        });
        checkbox.click(function () {
            if (!this.checked) {
                $("#selectAll").prop("checked", false);
            }
        });
    });
</script>
<div class="container-xxl bg-white p-0">
    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a [routerLink]="[ '/mainAdmin']" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="../../../assets/img/icon-deal.png" alt="Icon"
                        style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">RentMyRide</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a [routerLink]="[ '/mainRentas']" class="nav-item nav-link">Rentas</a>
                    <a [routerLink]="[ '/mainVehiculos']" class="nav-item nav-link">Vehiculos</a>
                    <a [routerLink]="[ '/mainClientes']" class="nav-item nav-link">Clientes</a>
                    <a [routerLink]="[ '/mainEmpleados']" class="nav-item nav-link">Empleados</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->



    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Clientes</h2>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-warning" (click)="modalCliente()"><span
                                    class="glyphicon glyphicon-refresh">Registrar Nuevo Cliente</span></button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>RFC</th>
                            <th>Status</th>
                            <th>Telefono</th>
                            <th>RFC Aval</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of datosCliente; let i = index">
                            <td>{{item.nombresCliente}}</td>
                            <td>{{item.apellidosCliente}}</td>
                            <td>{{item.emailCliente}}</td>
                            <td>{{item.rfcCliente}}</td>
                            <td>{{item.statusCliente}}</td>
                            <td>{{item.telefonoCliente}}</td>
                            <td>{{item.rfcAvalCliente}}</td>
                            <td><button type="button" class="btn btn-danger" (click)="eliminarCliente(item._id)"><span
                                        class="glyphicon glyphicon-trash">Eliminar</span></button></td>
                            <td><button type="button" class="btn btn-warning"
                                    (click)="modalActualizarCliente(item)"><span
                                        class="glyphicon glyphicon-refresh">Actualizar</span></button></td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- Modal Agregar Cliente -->
    <ng-template #myModalInfo let-modal class="modalAdd">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">Registrar</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control" placeholder="Nombres Cliente"
                            aria-label="Nompres Cliente" aria-describedby="addon-wrapping" name="nombreCliente"
                            id="nombresCliente" required="required" [(ngModel)]="datosClienteAdd.nombresCliente">
                    </div>
                    <div>
                        Apellidos
                        <input type="text" class="form-control" placeholder="Apellidos Cliente"
                            aria-label="Apellidos Cliente" aria-describedby="addon-wrapping" name="apellidosCliente"
                            id="apellidosCliente" required="required" [(ngModel)]="datosClienteAdd.apellidosCliente">
                    </div>
                    <div>
                        Email
                        <input type="email" class="form-control" placeholder="Email Cliente" aria-label="Email Cliente"
                            aria-describedby="addon-wrapping" name="emailCliente" id="emailCliente" required="required"
                            [(ngModel)]="datosClienteAdd.emailCliente">
                    </div>
                    <div>
                        RFC
                        <input type="text" class="form-control" placeholder="RFC Cliente" aria-label="RFC Cliente"
                            aria-describedby="addon-wrapping" name="rfcCliente" id="rfcCliente" required="required"
                            [(ngModel)]="datosClienteAdd.rfcCliente">
                    </div>
                    <div>
                        Telefono
                        <input type="number" class="form-control" placeholder="Telefono Cliente"
                            aria-label="Telefono Cliente" aria-describedby="addon-wrapping" name="telefonoCliente"
                            id="telefonoCliente" required="required" [(ngModel)]="datosClienteAdd.telefonoCliente">
                    </div>
                    <div>
                        RFC Aval
                        <input type="text" class="form-control" placeholder="RFC Aval Cliente"
                            aria-label="RFC Aval Cliente" aria-describedby="addon-wrapping" name="rfcAvalCliente"
                            id="rfcAvalCliente" required="required" [(ngModel)]="datosClienteAdd.rfcAvalCliente">
                    </div>
                    <div class=" clase">
                        <!-- Submit Button -->
                        <button type="button" class="btn btn-warning" (click)="agregarCliente()">Agregar</button>

                    </div>
                </form>
            </div>
        </div>
    </ng-template>


    <!-- Modal Modificar Cliente -->
    <ng-template #myModalInfo2 let-modal class="modalAdd">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">Actualizar</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control" placeholder="Nombres Cliente"
                            aria-label="Nompres Cliente" aria-describedby="addon-wrapping" name="nombreCliente"
                            id="nombresCliente" required="required" [(ngModel)]="datosClientePut.nombresCliente">
                    </div>
                    <div>
                        Apellidos
                        <input type="text" class="form-control" placeholder="Apellidos Cliente"
                            aria-label="Apellidos Cliente" aria-describedby="addon-wrapping" name="apellidosCliente"
                            id="apellidosCliente" required="required" [(ngModel)]="datosClientePut.apellidosCliente">
                    </div>
                    <div>
                        Email
                        <input type="email" class="form-control" placeholder="Email Cliente" aria-label="Email Cliente"
                            aria-describedby="addon-wrapping" name="emailCliente" id="emailCliente" required="required"
                            [(ngModel)]="datosClientePut.emailCliente">
                    </div>
                    <div>
                        RFC
                        <input type="text" class="form-control" placeholder="RFC Cliente" aria-label="RFC Cliente"
                            aria-describedby="addon-wrapping" name="rfcCliente" id="rfcCliente" required="required"
                            [(ngModel)]="datosClientePut.rfcCliente">
                    </div>
                    <div>
                        Estatus
                        <select class="form-select" aria-label="Estatus Cliente" name="statusCliente" id="statusCliente"
                            [(ngModel)]="datosClientePut.statusCliente" required>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                    <div>
                        Telefono
                        <input type="number" class="form-control" placeholder="Telefono Cliente"
                            aria-label="Telefono Cliente" aria-describedby="addon-wrapping" name="telefonoCliente"
                            id="telefonoCliente" required="required" [(ngModel)]="datosClientePut.telefonoCliente">
                    </div>
                    <div>
                        RFC Aval
                        <input type="text" class="form-control" placeholder="RFC Aval Cliente"
                            aria-label="RFC Aval Cliente" aria-describedby="addon-wrapping" name="rfcAvalCliente"
                            id="rfcAvalCliente" required="required" [(ngModel)]="datosClientePut.rfcAvalCliente">
                    </div>
                    <div class=" clase">
                        <!-- Submit Button -->
                        <!-- <button type="submit" class="btn guardar" (click)="actualizarCliente(datosClientePut.id)">Actualizar</button> -->
                        <button type="button" class="btn btn-warning"
                            (click)="actualizarCliente(datosClientePut.id)">Actualizar</button>

                    </div>
                </form>
            </div>
        </div>
    </ng-template>


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom">Rent My Ride</a>, Todos los derechos reservados.
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Creado por <a class="border-bottom">ISC</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/lib/wow/wow.min.js"></script>
<script src="../../../assets/lib/easing/easing.min.js"></script>
<script src="../../../assets/lib/waypoints/waypoints.min.js"></script>
<script src="../../../assets/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="../../../scripts/main.js"></script>