<script>
    $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
            if (this.checked) {
                checkbox.each(function () {
                    this.checked = true;
                });
            } else {
                checkbox.each(function () {
                    this.checked = false;
                });
            }
        });
        checkbox.click(function () {
            if (!this.checked) {
                $("#selectAll").prop("checked", false);
            }
        });
    });
</script>

<div class="container-xxl bg-white p-0">
    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a [routerLink]="[ '/mainAdmin']" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="../../../assets/img/icon-deal.png" alt="Icon"
                        style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">RentMyRide</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a [routerLink]="[ '/mainRentas']" class="nav-item nav-link">Rentas</a>
                    <a [routerLink]="[ '/mainVehiculos']" class="nav-item nav-link">Vehiculos</a>
                    <a [routerLink]="[ '/mainClientes']" class="nav-item nav-link">Clientes</a>
                    <a [routerLink]="[ '/mainEmpleados']" class="nav-item nav-link">Empleados</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->





    <div class="card-container">
        <div class="card" *ngFor="let dato of marcaCamioneta; let i = index">
            <h2>{{ marcaCamioneta[i] }}</h2>
            <p>{{ modeloCamioneta[i] }} {{anioCamioneta[i]}}</p>
            <p>Estatus: {{ statusCamioneta[i] }}</p>
            <p>Precio Por Día: {{ precioCamioneta[i] }}</p>
            <button type="button" class="btn btn-warning" (click)="disponible(i)"><span
                    class="glyphicon glyphicon-refresh">Rentar</span></button>
        </div>
    </div>




    <!-- Modal Modificar Vehiculo -->
    <ng-template #myModalInfo let-modal class="modalAdd">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">Rentar</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        RFC Cliente
                        <select [(ngModel)]="datosRentaAdd.rfcCliente" name="rfcCliente">
                            <option *ngFor="let cliente of rfcClientes" [value]="cliente.rfcCliente">{{
                                cliente.rfcCliente }}
                            </option>
                        </select>
                    </div>
                    <div>
                        Fecha y Hora
                        <input type="datetime-local" [(ngModel)]="datosRentaAdd.fechaHoraInicioRenta" name="fechaHora">

                    </div>
                    <div class=" clase">
                        <!-- Submit Button -->
                        <!-- <button type="submit" class="btn guardar" (click)="actualizarVehiculo(datosVehiculoPut.id)">Actualizar</button> -->
                        <button type="button" class="btn btn-warning" (click)="registrarRenta()">Agregar</button>

                    </div>
                </form>
            </div>
        </div>
    </ng-template>


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom">Rent My Ride</a>, Todos los derechos reservados.
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Creado por <a class="border-bottom">ISC</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/lib/wow/wow.min.js"></script>
<script src="../../../assets/lib/easing/easing.min.js"></script>
<script src="../../../assets/lib/waypoints/waypoints.min.js"></script>
<script src="../../../assets/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="../../../scripts/main.js"></script>