
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
      <form>
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" [(ngModel)]="datosLogin.emailEmpleado">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" name="pass" class="form-control" id="password" placeholder="Ingrese su contraseña" [(ngModel)]="datosLogin.passwordEmpleado">
        </div>
        <button type="submit" class="btn btn-primary btn-block" (click)="login()">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>
